<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="to-do">
         <property
               name="appName"
               value="to-do">
         </property>
         <property
               name="applicationCSS2"
               value="platform:/plugin/com.example.e4.rcp.todo/css/red.css">
         </property>
        
         <property
               name="rendererFactoryUri2"
               value="bundleclass://com.example.e4.rcp.todo/com.example.e4.rcp.todo.renderer.MyRendererFactory">
         </property>
         <property
               name="applicationCSSResources2"
               value="platform:/plugin/com.example.e4.rcp.todo/">
         </property>
          -->
         <property
               name="cssTheme"
               value="com.vogella.e4.todo.defaulttheme">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.example.e4.rcp.todo/css/red.css">
         </property>
         <!-- commented to simplify SWTBot test example
         <property
               name="lifeCycleURI"
               value="bundleclass://com.example.e4.rcp.todo/com.example.e4.rcp.todo.lifecycle.LifeCycleManager">
         </property>
         -->
      </product>
   </extension>
 
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default.css"
            id="com.vogella.e4.todo.defaulttheme"
            label="Default Theme">
      </theme>
      <theme
            basestylesheeturi="css/red.css"
            id="com.vogella.e4.todo.redtheme"
            label="Red Theme">
      </theme>
      <theme
            basestylesheeturi="css/dark-gradient.css"
            id="com.vogella.e4.todo.darktheme"
            label="Dark Theme">
      </theme>
   </extension>

</plugin>
