<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="to-do">
         <property
               name="appName"
               value="to-do">
         </property>
        
          -->
         <property
               name="lifeCycleURI"
               value="bundleclass://com.example.e4.rcp.todo/com.example.e4.rcp.todo.lifecycle.Manager">
         </property>
          <!-- comments out of testing purposes
         <property
               name="applicationCSS"
               value="platform:/plugin/com.example.e4.rcp.todo/css/rainbow.css">
         </property>
         
         <property
               name="rendererFactoryUri"
               value="bundleclass://com.example.e4.renderer.swt/com.example.e4.renderer.swt.MyRendererFactory">
         </property>
         -->
         <!-- commented to simplify SWTBot test example
         <property
               name="lifeCycleURI"
               value="bundleclass://com.example.e4.rcp.todo/com.example.e4.rcp.todo.lifecycle.LifeCycleManager">
         </property>
         -->
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default.css"
            id="com.example.e4.rcp.todo.default"
            label="Default Theme">
      </theme>
      <theme
            basestylesheeturi="css/rainbow.css"
            id="com.example.e4.rcp.todo.rainbow"
            label="Rainbow">
      </theme>
   </extension>
 

</plugin>
