[project]
	description = Eclipse 4 Book
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jonas Hungershausen (jonashungershausen)
[access "refs/for/refs/*"]
	read = group user/Jonas Hungershausen (jonashungershausen)
	push = group user/Jonas Hungershausen (jonashungershausen)
	label-Code-Review = -2..+2 group user/Jonas Hungershausen (jonashungershausen)
	label-Verified = -1..+1 group user/Jonas Hungershausen (jonashungershausen)
	rebase = group user/Jonas Hungershausen (jonashungershausen)
	removeReviewer = group user/Jonas Hungershausen (jonashungershausen)
	submit = group user/Jonas Hungershausen (jonashungershausen)
[access "refs/heads/*"]
	read = group user/Jonas Hungershausen (jonashungershausen)
	create = group user/Jonas Hungershausen (jonashungershausen)
	push = +force group user/Jonas Hungershausen (jonashungershausen)
	pushMerge = group user/Jonas Hungershausen (jonashungershausen)
[access "refs/tags/*"]
	push = group user/Jonas Hungershausen (jonashungershausen)
	push = +force group user/Jonas Hungershausen (jonashungershausen)
