<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.example.e4.rcp.wizard"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="RICH_SAMPLE"
               value="TRUE">
         </property>
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.example.e4.rcp.wizard/css/default.css">
         </property>
         <property
               name="appName"
               value="com.example.e4.rcp.wizard">
         </property>
      </product>
   </extension>

</plugin>
