Label, Button {
    font: Verdana 14px;
    background-color: #e0e0e0;
    color: black;
}

Text {
    font: Verdana 12px;
}

Table {
    background-color: #f2f2f2;
    swt-header-background-color: #d0d0d0;
    swt-header-color: black;
}

Composite Text {
    background-color: white;
    color: black;
}

SashForm {
    background-color: #c1d5ef;
}

.MTrimBar {
    color: white;
    font: Verdana 8px;
}

Shell, Composite, .MTrimBar {
    background-color: #e0e0e0;
}

CTabItem:selected {
    background-color: #d0d0d0;
    color: black;             
}
