<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="to-do"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="to-do">
         </property>
         <property
               name="cssTheme"
               value="com.vogella.eclipse.css.dark">
         </property>
         <property
               name="rendererFactoryUri2"
               value="bundleclass://com.example.e4.renderer.swt/com.example.e4.renderer.swt.MyRendererFactory">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.vogella.tasks.ui.task.selection">
         <with
               variable="org.eclipse.ui.selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="com.vogella.tasks.model.Task">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
