<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default.css"
            id="com.vogella.eclipse.css.default"
            label="Default">
      </theme>
      <theme
            basestylesheeturi="css/rainbow.css"
            id="com.vogella.eclipse.css.rainbow"
            label="Rainbow">
      </theme>
      <theme
            basestylesheeturi="css/dark.css"
            id="com.vogella.eclipse.css.dark"
            label="Dark">
      </theme>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            handler="com.vogella.eclipse.css.internal.CheckboxPropertyHandler">
         <property-name
               name="check-color">
         </property-name>
         <property-name
               name="center-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            handler="com.vogella.eclipse.css.internal.SegmentedBarPropertyHandler">
         <property-name
               name="selection-color">
         </property-name>
         <property-name
               name="hover-color">
         </property-name>
         <property-name
               name="separator-color">
         </property-name>
      </handler>
   </extension>

</plugin>
