<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="target-platform">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/latest"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
			<unit id="org.junit.jupiter.api" version="0.0.0"/>
			<unit id="org.junit.jupiter.engine" version="0.0.0"/>
			<unit id="org.junit" version="0.0.0"/>
			<unit id="org.junit.jupiter.engine" version="0.0.0"/>
			<unit id="org.junit.jupiter.params" version="0.0.0"/>
			<unit id="org.junit.jupiter.migrationsupport" version="0.0.0"/>
			<unit id="org.eclipse.jdt.junit5.runtime" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200529191137/repository"/>
			<unit id="ca.odell.glazedlists" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/nattable/releases/1.6.0/repository/"/>
			<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.e4.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.e4.source.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.source.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.source.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.source.feature.feature.group" version="0.0.0"/>
		</location>
		
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/e4/snapshots/org.eclipse.e4.tools/latest/"/>
			<unit id="org.eclipse.e4.tools.bundle.spy.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.e4.tools.context.spy.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.e4.tools.css.spy.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.e4.tools.event.spy.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.e4.tools.model.spy.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.e4.tools.preference.spy.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.e4.tools.spies.feature.feature.group" version="0.0.0"/>
		</location>
	
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/justj/jres/16/updates/release"/>
			<unit id="a.jre.org.eclipse.justj.openjdk.hotspot.jre.full" version="0.0.0"/>
		</location>
		<location includeDependencyScope="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.google.code.gson</groupId>
					<artifactId>gson</artifactId>
					<version>2.8.6</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>