<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="com.example.e4.rcp.todo.contribute.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
