<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="eclipse45" sequenceNumber="10">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.1.v20150831-1342"/>
<unit id="org.eclipse.platform.sdk" version="4.5.1.M20150904-0015"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="retrofit.feature.group" version="1.0.0.bnd-uVxdrg"/>
<repository location="https://dl.bintray.com/simon-scholz/retrofit-osgi/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.feature.group" version="2.3.0.201506081302"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.3.0.201506081302"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.pshelf.feature.feature.group" version="1.0.0.201602191853"/>
<unit id="org.eclipse.nebula.widgets.pshelf.css.feature.feature.group" version="1.0.0.201602191853"/>
<repository location="http://download.eclipse.org/technology/nebula/snapshot"/>
</location>
</locations>
</target>
