<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="eclipse4rcp" sequenceNumber="36">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/technology/swtbot/snapshots"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.3.1.M20130911-1000"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.3.1.M20130911-1000"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.8.1.v20130828-0031"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.0.v20130807-1835"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.8.0.v20130814-1242"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
</locations>
</target>
