<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="eclipse4rcp" sequenceNumber="14">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.1.0.201303171125"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.1.0.201303171125"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.1.0.201303171125"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.1.0.201303171125"/>
<repository location="http://download.eclipse.org/technology/swtbot/snapshots"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.rcp.feature.group" version="1.2.0.v20130316-0035"/>
<unit id="org.eclipse.platform.sdk" version="4.3.0.I20130318-2000"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.3.0.I20130318-2000"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.9.0.v20130314-0814"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.9.0.v20130314-0814"/>
<unit id="org.eclipse.equinox.core.feature.feature.group" version="1.1.0.v20130308-1450"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.8.0.v20130312-1605"/>
<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.2.0.v20130309-0714"/>
<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.0.100.v20130225-1900"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.8.0.v20130314-0217"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.9.0.v20130315-1528"/>
<repository location="http://download.vogella.com/~markus/bug296599"/>
</location>
</locations>
</target>
